h2 {
  padding: 30px;
  fontSize: 30px;
}

h3 {
  color: red;
  marginTop: 30px;
}

p {
  marginTop: 20px;
}

.caseIcon {
   height: 120px;
}

.useCase {
  padding: 30px;
}

.callToAction {
  color: white;
  text-decoration: none;
  margin-top: 30px;
  padding: 20px;
  display: inline-block;
  background: blue;
  text-transform: capitalize;
  cursor: pointer;
}

.li {
  color: black;
  font-size: 18px;
  background: white;
  padding: 20px;
  margin: 20px;
  list-style: none;
}

.newMemberField {
  fontSize: 18px;
  padding: 20px;
  margin: 20px;
  border: none;
}

.docket {
  background: rgb(60, 150, 130);
  height: 100%;
  font-family: 'sans-serif';
  padding: 20px; 
  text-align: center;
};

.titleField {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 28px;
  color: white;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

textarea:focus {
  background-color: rgba(0, 0, 0, 0.5);
}